<h1 class="title"><%= t("app_title") %></h1>
<p><%= t("app_description") %></p>
<div class="row d-flex align-items-center justify-content-center">
	<%= image_tag("client-server-model.jpg", class: "home-image") %><br/>
</div>
	<p class="home-description"><%= t(".reminder") %></p>
</div>