// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	font-weight: 900;
	letter-spacing: 1px;
}

.home-description {
	font-weight: bold;
	text-align:center;
}

.home-image {
	padding: 48px;
	padding-bottom: 24px;
}

form label, form input {
	display: block;
	margin: 8px;
}