<footer class="footer">
	<div class="container">
		<% # My name doesn't change over langauges so it's the same %>
		<span class="text-muted">&copy; <a href="mailto:mr00846@surrey.ac.uk">Matthew Reid</a> <%= Time.current.year %> &mdash; <%= t("footer") %></span>
	</div>
</footer>