<footer class="footer">
	<div class="container">
		<span class="text-muted">&copy; <a href="mailto:mr00846@surrey.ac.uk">Matthew Reid</a> 2019 &mdash; University of Surrey COM2025 Coursework</span>
	</div>
</footer>